@tailwind base;
@tailwind components;
@tailwind utilities;

/* App globals */
html { -webkit-tap-highlight-color: transparent; }
body { font-feature-settings: "rlig" 1, "calt" 1; }
a { transition: color .15s ease, opacity .15s ease; }